<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/survey</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="org.windbell_lab.survey.repo.mode.CmChannelEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.CmChannelGroupEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.CmChannelGroupDetailEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.SmDictEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.SmMenuEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.TcApplyEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.TcExecuteEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.TcPaymentEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.TcPublishEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.TcQuestionIndexEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.TcQuestionItemEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.TcQuestionOptionEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.TcQuestionResultEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.TcQuestionnaireEntity"/>
      <mapping class="org.windbell_lab.survey.repo.mode.UmSurveyorInfoEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>